<pdf>
   <head>
      <link name="NotoSans" type="font" subtype="truetype" src="${font_notosans_regular?html}" src-bold="${font_notosans_bold?html}" src-italic="${nsfont.NotoSans_Italic}" src-bolditalic="${nsfont.NotoSans_BoldItalic}" bytes="2" />
      <macrolist>
         <macro id="nlheader">
            <!--HEADER-->
            <table style="width:100%; background-color: #221F1F;">
               <tr width="100%">
                  <td  width="50%" style="padding-left: 0.4in; padding-top: 10px; padding-bottom: 10px;"><img src="https://3688201.app.netsuite.com/core/media/media.nl?id=63646&amp;c=3688201&amp;h=cc450deee8b4151f2fd5&amp;fcts=20200601062629&amp;whence=" width="80px" height="57px"/></td>
                  <td  width="50%" style="padding-right: 0.4in; padding-top: 15px; padding-bottom: 10px; ;" >
                     <table style="color: white; width: 100%; ">
                        <tr>
                           <td align="right" style="font-size : 24px; font-weight:500;" >
<!--                              Tax Invoice-->
                              {{documentname}}
                           </td>
                        </tr>
                        <tr>
                           <td align="right" style="font-size : 12px;">
                              {{federalidnumber}}
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
            <!--END HEADER-->
         </macro>
         <macro id="nlfooter">
         </macro>
      </macrolist>
      <style type="text/css">
         * 
         {
         font-family: NotoSans, Arial,sans-serif;
         }
         body {
         font-family: 'Arial';
         }
         table {
         font-size: 9pt;
         table-layout: fixed;
         padding: 3px;
         }
         table.body td {
         padding-top: 2px;
         }
         td.summarybox {
         font-size: 12pt;
         text-indent: 2px;
         }
         td.summaryboldbox {
         font-weight: bold;
         font-size: 12pt;
         text-indent: 0.5px;
         }
         hr {
         width: 100%;
         color: #d3d3d3;
         background-color: #d3d3d3;
         height: 1px;
         }
         .itemtable {
         width: 100%; 
         margin-top: 10px; 
         margin-left: 0.4in; 
         margin-right: 0.4in; 
         font-size: 9pt;
         table-layout: fixed;
         }
         .itemtable tr{
         	padding: 5px;
         }
      </style>
   </head>
   <body header="nlheader" header-height="10%" footer="" footer-height="7%" padding="0.in 0.0in 0.5in 0.0in" size="A4">
      <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in; padding-top: 0.2in; ">
         <tr style="width: 100%;">
            <td style="width: 50%;" >
               <table>
                <tr>
                    <td > <strong>Attention To</strong> </td>
                </tr>
                <tr>
                    <td >
						<b>{{nohierarchy custbody_invoice_contact}}</b>
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                     <td>
                        <span><strong>Bill To </strong></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>{{{billingaddress}}}</span>
                     </td>
                  </tr>
               </table>
            </td>
            <td style="width:50%;" >
               <table width="100%" style="background-color: #F5F5F5; font-size:24px; padding-left: 15px; padding-right: 15px; padding-top: 5px; padding-bottom: 10px;">
                  <tr>
                     <td>
                        <table style="padding-bottom: -10px;">
                           <tr style="padding-top: 5px;">
                              <td><strong>Summary</strong></td>
                           </tr>
                        </table>
                        <hr/>
                        <table width ="100%" style="padding-top: -10px; padding-bottom: -10px;">
                           <tr>
                              <td> <strong>Report Duration</strong> </td>
                              <td align="left">{{startdate}} - {{enddate}}</td>
                           </tr>
                           <tr>
                              <td>Invoice Date</td>
                              <td align="left">{{trandate}}</td>
                           </tr>
                        </table>
                        <hr/>
                        <table  width ="100%" style="padding-top: -10px; padding-bottom: -10px;">
                           <tr>
                              <td><strong>Total Due</strong> </td>
                              <td align="left">{{total}}</td>
                           </tr>
                           <tr>
                              <td>Due Date </td>
                              <td align="left">{{duedate}}</td>
                           </tr>
                        </table>
                        <hr/>
                        <table  width ="100%" style="padding-top: -10px;">
                           <tr>
                              <td>Invoice# </td>
                              <td align="left">{{tranid}}</td>
                           </tr>
                           <tr>
                              <td>PO </td>
                              <td align="left" >
                                    {{otherrefnum}}
                              </td>
                           </tr>
                           <tr>
                              <td>Terms </td>
                              <td align="left">{{terms}}</td>
                           </tr>
                           <tr>
                              <td>Currency </td>

                              {{#ifEquals subsidiary 'ServiceRocket (India) Private Ltd'}}
                              <td align="left" >USD</td>
                              {{else}}
                              <td align="left" >{{currencysymbol}}</td>
                              {{/ifEquals}}

                           </tr> 
                           <tr>
                              <td>Exchange Rate </td>
                              <td align="left" >{{exchangerate}}</td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <hr style="margin-left: 0.4in; margin-right: 0.4in; "/>
      <p style="margin-left: 0.5in; font-weight: bold; font-size: 14pt; text-align: justify">Details</p>
      <table class="itemtable">
         <thead>
            <tr style="background-color: #888888; color: #FFFFFF; font-weight: bold; padding: 5px">
	           <th align="center" width="5%">
                  <p style="text-align: left">No.</p>
               </th>
               {{#if custbody_nvy_hide_prodname}}
               <th width="40%"> Description</th>
               {{else}}
               <th width="15%">Product</th>
               <th width="50%">Description</th>
               {{/if}}
<!--               <th width="40%">Description</th>-->
               <th align="right" width="5%">{{@root.custbody_unittype}}</th>
<!--               <th align="right" width="5%">Qty</th>-->
               <th align="right" width="13%">Sales Price</th>
               {{#ifEquals subsidiary 'ServiceRocket Inc.'}}
               <th align="right" width="1%"></th>
               {{else}}
               <th align="right" width="10%">{{taxlabel}}</th>
               {{/ifEquals}}
               {{#if @root.haslinediscount}}
               <th align="right" width="20%">Discount</th>
               {{else}}
               {{/if}}
               <th align="right" width="15%" style="white-space: nowrap">Total </th>
            </tr>
         </thead>
         <tbody>
         {{#ifEquals subsidiary 'ServiceRocket Inc.'}}
            {{#item}}
            {{#if displayonpdf}}
            <tr style="background-color: {{if_even @index}};" >
               <td align="center" valign="middle" width="5%">
                  <p style="text-align: center;">{{no}}</p>
               </td>
               {{#if @root.custbody_nvy_hide_prodname}}
               <td>
                  <p style="text-align: left">{{{description}}}</p>
               </td>
               {{else}}
               <!--               <td align="left">{{item}}</td> Original-->
               <td><p align="left">{{item}}</p></td>
               <td>
                  <p style="text-align: left">{{{description}}}</p>
               </td>
               {{/if}}
               <!--               <td><p style="text-align: left">{{{description}}}</p></td>-->
               <td align="right" valign="middle">{{quantity}}</td>
               <td align="right" valign="middle">{{rate}}</td>
               <td align="right" valign="middle"></td>
               {{#if @root.haslinediscount}}
               <td align="right" valign="middle">
                  <table padding= "0px">
                     {{#discountdetail}}
                     <tr padding= "0px">
                        <td padding= "1px"><p align="right">{{{desctription}}}</p></td>
                     </tr>
                     <tr padding= "0px">
                        <td padding= "1px" align="right">{{#replace "-" ""}}{{amount}}{{/replace}}</td>
                     </tr>
                     {{/discountdetail}}
                  </table>
               </td>
               {{else}}
               {{/if}}
               <td align="right" valign="middle">{{amount}}</td>
            </tr>
            {{else}}
            {{/if}}
            {{/item}}
         {{else}}
            {{#item}}
            {{#if displayonpdf}}
            <tr style="background-color: {{if_even @index}};" >
	           <td align="center" valign="middle" width="5%">
                  <p style="text-align: center;">{{no}}</p>
               </td>
               {{#if @root.custbody_nvy_hide_prodname}}
               <td>
                  <p style="text-align: left">{{{description}}}</p>
               </td>
               {{else}}
<!--               <td align="left">{{item}}</td> Original-->
               <td><p align="left">{{item}}</p></td>
               <td>
                  <p style="text-align: left">{{{description}}}</p>
               </td>
               {{/if}}
<!--               <td><p style="text-align: left">{{{description}}}</p></td>-->
               <td align="right" valign="middle">{{quantity}}</td>
               <td align="right" valign="middle">{{rate}}</td>
               <td align="right" valign="middle">
                  {{#if tax1amt}}
                  {{tax1amt}}
                  {{else}}
                  0.00
                  {{/if}}
               </td>
               {{#if @root.haslinediscount}}
               <td align="right" valign="middle">
                  <table padding= "0px">
                     {{#discountdetail}}
                     <tr padding= "0px">
                        <td padding= "1px"><p align="right">{{{desctription}}}</p></td>
                     </tr>
                     <tr padding= "0px">
                        <td padding= "1px" align="right">{{#replace "-" ""}}{{amount}}{{/replace}}</td>
                     </tr>
                     {{/discountdetail}}
                  </table>
               </td>
               {{else}}
               {{/if}}
               <td align="right" valign="middle">{{amount}}</td>
            </tr>
            {{else}}
            {{/if}}
            {{/item}}
         {{/ifEquals}}
         </tbody>
      </table>
      <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in;">
         <tr width="100%">
            <td width="65%"></td>
            <td width="35%">
               <!---Sub Total-->
               <table width="100%" style="padding-bottom: -10px;">
                  <tr>
                     <td  >Sub-total </td>
                     <td  align="right">{{currencysymbol}} {{subtotal}}</td>
                  </tr>
                  {{#if hasupgradecredit}}
                  <tr>
                     <td  >Upgrade Credit</td>
                     <td  align="right">{{currencysymbol}}  {{#replace "-" ""}} {{currency upgradecredit}} {{/replace}}</td>
                  </tr>
                  {{else}}
                  {{/if}}
                  {{#if hastax}}
                  <tr>
                     <td  >{{taxcode}} </td>
                     <td  align="right">{{currencysymbol}} {{taxtotal}}</td>
                  </tr>
                  {{else}}
                  <tr>
                     <td  >{{taxcode}} </td>
                     <td  align="right">{{currencysymbol}} {{discounttotal}}</td>
                  </tr>
                  {{/if}}
               </table>
               <hr/>
               <table width="100%" style="padding-top: -10px;">
                  <tr>
                     <td  >Total  </td>
                     <td  align="right">{{currencysymbol}} {{total}}</td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <!--Selection Item-->
      <br/>
      <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in; ">
         <tr width="100%" >
            <td width="50%" style="vertical-align: top; text-align: left;">
               <table width="100%" align="left">
                  <tr>
                     <td >{{subsidiary}}</td>
                  </tr>
                  <tr>
						<td >
							{{{custrecord_sr_address}}}</td>
					</tr>
               </table>
            </td>
            <td width="50%" style="vertical-align: bottom;">
               <table width="100%">
                  <tr>
                     <td>Payment Method </td>
                  </tr>
                  <tr rowspan="2">
                     <td  >Bank Transfer </td>
                  </tr>
               </table>
               <table>
                  <tr>
                  	<td >
                        <span>{{{paymentinstruction}}}</span>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>

   </body>
</pdf>