<?xml version="1.0"?>
<!DOCTYPE pdf PUBLIC "-//big.faceless.org//report" "report-1.1.dtd">
<pdf>

    <head>
        <link name="NotoSans" type="font" subtype="truetype" src="${nsfont.NotoSans_Regular}"
            src-bold="${nsfont.NotoSans_Bold}" src-italic="${nsfont.NotoSans_Italic}"
            src-bolditalic="${nsfont.NotoSans_BoldItalic}" bytes="2" />
        <macrolist>
         <macro id="nlheader" style="background-color: black;">
            <table style="width:100%; height:100%; background-color: black;">
               <tr width="100%">
                  <td style="margin-left: 0.5in;"><img style="width:50%; height:50%; "
                        src="https://3688201.app.netsuite.com/core/media/media.nl?id=63646&amp;c=3688201&amp;h=cc450deee8b4151f2fd5&amp;fcts=20200601062629&amp;whence=" />
                  </td>
               </tr>
            </table>
         </macro>
            <macro id="nlfooter"  style="margin-left: 0.5in;">
                <p><span style="font-size:16px; margin-left: 0.5in;">S E R V I C E R O C K E T . C O M</span></p>
            </macro>
        </macrolist>
        <style type="text/css">
            * {
                font-family: NotoSans, Arial, sans-serif;
                font-size: 18px;
            }

            table {
                font-size: 18px;
                table-layout: fixed;
                width: 100%;
            }

            th {
                font-weight: bold;
                font-size: 18px;
                vertical-align: middle;
                padding: 5px 6px 3px;
                background-color: #e3e3e3;
                color: #333333;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            td {
                padding: 4px 6px;
            }

            b {
                font-weight: bold;
                color: #333333;
            }
        </style>
    </head>

    <body header="nlheader" header-height="10%" footer="nlfooter" footer-height="20pt" padding="0.0in 0.0in 0.5in 0.0in"
        size="A4">
        <table cellpadding="1" cellspacing="1" style="width:100%;" padding="0.5in 0.5in 0.5in 0.5in">
            <tr>
                <td>&nbsp;</td>
                <td align="right">{{date}}</td>
            </tr>
            <tr>
                <td colspan="2"><span style="font-size:36px;">Rocketeer Promotion</span></td>
            </tr>
            <tr>
                <td colspan="2"><span style="font-size:26px;">Variation to Contract</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 25px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 25px;"><span style="font-size:18px;">Dear {{name}},</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 25px;"></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">It takes a lot
                        of hard work and dedication to fuel a fast-growing company with delighted customers. But at the
                        end of the day, we don't build a great company just so that we have a great company. We
                        build it so that we can all help build our careers, families, and communities.</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">We recognize
                        that your contributions to ServiceRocket have helped us grow and at the same time have grown
                        your own skills. Thank you for all your hard work, dedication, and great performance thus
                        far.</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">We are very
                        pleased to inform you that you have been selected for a promotion, subject to your agreement to
                        the following revisions to your Employment Letter dated {{date}} (the
                        &ldquo;Employment Letter&rdquo;).</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">All other terms
                        and conditions not stated below will continue as set out in the Employment Letter. This Letter
                        will act as an Amendment to the Employment Letter.</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><strong><span style="font-size:18px;">1. Position</span></strong>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 80px;"><span style="font-size:18px;">1.1. You will be employed in the
                            position of {{jobprofile}} effective {{date}}.</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 80px;"><span style="font-size:18px;">1.2. Your new duties and
                            responsibilities associated with the role will be reflected in your new Position
                            Description.</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 8px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><strong><span style="font-size:18px;">2. Base Salary</span></strong>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><span style="font-size:18px;">Your base salary will increase from
                            {{currencysymbol}} {{currency currentsalary}} to {{currencysymbol}} {{currency newsalary}} per annum
                            [for Australia state excluding superannuation], effective {{date}}.</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 8px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><strong><span style="font-size:18px;">3. Variable
                                Compensation</span></strong></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><span style="font-size:18px;">Subject to the successful attainment
                            of specified goals determined by your Manager, the details of which shall be provided to you
                            within the next 30 days, you will be eligible for an annual bonus amount of up to
                            {{currencysymbol}} {{currency bonus}}, awarded {{bonusfreq}} effective
                            {{date}}.</span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 5px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><strong><span style="font-size:18px;">4. Direct
                                Report</span></strong></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">
                    <div style="margin-left: 40px;"><span style="font-size:18px;">Your direct report is {{supervisor}}, {{supervisorjob}}.
                        </span></div>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">We ask that you
                        please review, initial and sign this Variation to Contract Letter.
                    </span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">Should you have
                        any questions regarding this Letter of Transfer, please do not hesitate to
                        contact your manager or the People Team.</span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">Congratulations
                        on the promotion and we look forward to your continued contribution as we all
                        challenge each other to grow and create more value for our customers, team and our many
                        Rocketeer shareholders.
                    </span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">As always,
                        we're happy to have you as part of the team and if there are ever any ideas or
                        thoughts you have to help make ServiceRocket the best place on earth to work - we'd love to
                        know!
                    </span></td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2" style="height: 10px; text-align: justify;"><span style="font-size:18px;">Yours
                        sincerely,<br />
                        {{subsidiary}}
                    </span></td>
            </tr>
            <tr>
                <td></td>
                <td align="right"></td>
            </tr>
        </table>
    </body>
</pdf>