<?xml version="1.0"?><!DOCTYPE pdf PUBLIC "-//big.faceless.org//report" "report-1.1.dtd">
<pdfset>
<pdf>
   <head>
      <link name="NotoSans" type="font" subtype="truetype" src="${font_notosans_regular?html}" src-bold="${font_notosans_bold?html}" src-italic="${nsfont.NotoSans_Italic}" src-bolditalic="${nsfont.NotoSans_BoldItalic}" bytes="2" />
      <macrolist>
         <macro id="nlheader">
            <!--HEADER-->
            <table style="width:100%; background-color: #221F1F;">
               <tr width="100%">
                  <td  width="50%" style="padding-left: 0.4in; padding-top: 10px; padding-bottom: 10px;"><img src="https://3688201.app.netsuite.com/core/media/media.nl?id=63646&amp;c=3688201&amp;h=cc450deee8b4151f2fd5&amp;fcts=20200601062629&amp;whence=" width="80px" height="57px"/></td>
                  <td  width="50%" style="padding-right: 0.4in; padding-top: 15px; padding-bottom: 10px; ;" >
                     <table style="color: white; width: 100%; ">
                        <tr>
                           <td align="right" style="font-size : 24px; font-weight:500;" >
                              Statement of Work
                           </td>
                        </tr>
                        <tr>
                           <td align="right" style="font-size : 12px;">
                              {{federalidnumber}}
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
            <!--END HEADER-->
         </macro>
         <macro id="nlfooter">
            <!--FOOTER-->
            <hr style="margin-left: 0.4in; margin-right: 0.4in;  margin-top: -10px"/>
            <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in; margin-top: -10px">
               <tr width="100%" >
                  <td width="55%" style="vertical-align: bottom; color: #AAAAAA;">
                     <table width="100%">
                        <tr style="padding-top: 10px;">
                           <td  width="30" style="text-align: left">
                              Your ServiceRocket Contact <br/>
                              {{salesrep}}<br/>
                              Enterprise Licensing Team <br/>
                              sales@servicerocket.com
                           </td>
                           <td width="35" style="text-align: left; color: #AAAAAA;">
                              <strong> {{subsidiary}}</strong> <br/>
                              {{{custrecord_sr_address}}}
                           </td>
                           <td width="35"  align="right">
                              www.servicerocket.com <br/>
                              #WeGotYourBack
                           </td>
                        </tr>
                     </table>
                  </td>
               </tr>
            </table>
            <!--FOOTER-->
         </macro>
      </macrolist>
      <style type="text/css">
         * 
         {
         font-family: NotoSans, Arial,sans-serif;
         }
         body {
         font-family: 'Arial';
         }
         table {
         font-size: 9pt;
         table-layout: fixed;
         padding: 3px;
         }
         table.body td {
         padding-top: 2px;
         }
         td.summarybox {
         font-size: 12pt;
         text-indent: 2px;
         }
         td.summaryboldbox {
         font-weight: bold;
         font-size: 12pt;
         text-indent: 0.5px;
         }
         hr {
         width: 100%;
         color: #d3d3d3;
         background-color: #d3d3d3;
         height: 1px;
         }
         .itemtable {
	         width: 100%; 
	         margin-top: 10px; 
	         margin-left: 0.4in; 
	         margin-right: 0.4in; 
	         font-size: 9pt;
	         table-layout: fixed;
         }
 
      </style>
   </head>
   <body header="nlheader" header-height="10%" footer="nlfooter" footer-height="7%" padding="0.in 0.0in 0.5in 0.0in" size="A4">
      <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in; padding-top: 0.2in; ">
         <tr style="width: 100%;">
            <td style="width: 50%;" >
               <table>
                  <tr>
                     <td class="summarybox">
                        <span><strong>Client</strong></span>
                     </td>
                  </tr>
                  <tr>
                     <td>
                        <span>{{primarycontact}}</span> <br/>
                        <span>{{{billingaddress}}}</span>
                     </td>
                  </tr>
               </table>
            </td>
            <td style="width:50%;" >
               <table width="100%" style="background-color: #F5F5F5; font-size:24px; padding-left: 10px; padding-right: 10px; padding-top: 5px; padding-bottom: 10px;">
                  <tr>
                     <td>
                        <table style="padding-bottom: -10px;">
                           <tr style="padding-top: 5px;">
                              <td class="summaryboldbox"><strong>Summary</strong></td>
                           </tr>
                        </table>
                        <hr/>
                        <table width ="100%" style="padding-top: -10px; padding-bottom: -10px;">
                           <tr>
                              <td width="35%" class="summarybox"> SOW Number</td>
                              <td width="65%" class="summaryboldbox" align="left">{{tranid}}</td>
                           </tr>
                           <tr>
                              <td class="summarybox">Project Code</td>
                              <td class="summaryboldbox" align="left"><p style="text-align: left; word-wrap: break-word">{{job}}</p></td>
                           </tr>
                           <tr>
                              <td class="summarybox">Issue Date</td>
                              <td class="summaryboldbox" align="left">{{trandate}}</td>
                           </tr>
                           <tr>
                              <td class="summarybox">Expiry Date</td>
                              <td class="summaryboldbox" align="left">{{duedate}}</td>
                           </tr>
                        </table>
                        <hr/>
                        <table  width ="100%" style="padding-top: -10px; padding-bottom: -10px;">
                           <tr>
                              <td class="summarybox"> <strong>Total</strong> </td>
                              <td class="summaryboldbox" align="right">{{currencysymbol}} {{total}}</td>
                           </tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <!-- End Account Infor-->
      <hr style="margin-left: 0.4in; margin-right: 0.4in; "/>
      <table style="width:100%;">
         <tr width="100%" >
            <td width="100%" style="vertical-align: top; text-align: left;">
            <p style="margin-left: 0.4in; font-weight: bold; font-size: 14pt;">Statement of Work</p>
<p style="margin-left: 0.4in; margin-right: 0.5in; font-size: 10pt; font-weight: lighter; text-align: left; padding-top: -10px;">
    The Services provided by ServiceRocket ("ServiceRocket") pursuant to this Statement of Work are provided <br/>
    pursuant to ServiceRocket's Consulting Services Terms and Conditions (the "Terms and Conditions") found at <br/>
    <span style="color: #5F4EFF">https://www.servicerocket.com/legaldocs/consulting-and-support-services-terms-and-conditions </span>, which are  <br/>
    incorporated herein by this reference. By executing this Statement of Work, you confirm that you have read, understood and agree to be bound by the Terms and Conditions.
    <br/>
    <br/>
    This Statement of Work provides only an estimate of the days necessary to complete the specification, and <br/>
    additional days (above the estimate) worked will be billed at the rates detailed below.
</p>
            </td>
         </tr>
      </table>
      <!--Details-->
      <hr style="margin-left: 0.4in; margin-right: 0.4in; "/>
      <!--Details-->
      <p style="margin-left: 0.5in; font-weight: bold; font-size: 14pt; text-align: justify">Details</p>
      <table class="itemtable">
         <thead>
            <tr style="background-color: #888888; color: #FFFFFF; font-weight: bold; padding: 5px">
               {{#if custbody_nvy_hide_prodname}}
               <th width="50%">
                     Description
               </th>
               {{else}}
               <th width="20%" style="white-space: nowrap" align="left" padding-left ="3px">
					Product
               </th>
               <th width="40%" align="left">                     
				Description
               </th>
               {{/if}}
				<th width="10%" align="right">
					{{@root.custbody_unittype}}
			   </th>
               <th width="12%" align="right">
                   Sales Price
              </th>
               {{#if @root.haslinediscount}}
               <th align="right" width="15%">Discount</th>
               {{else}}
               {{/if}}
               <th align="right" width="15%" padding-right ="5px">
					Total
               </th>
            </tr>
         </thead>
         <tbody>
            {{#item}}
            {{#if displayonpdf}}
            
            <tr style="background-color: {{if_even @index}};" >
               {{#if @root.custbody_nvy_hide_prodname}}
               <td>
                  <p style="text-align: left; word-wrap: break-word">{{description}}</p>
               </td>
               {{else}}
               <td align="left"><p style="text-align: left; word-wrap: break-word">{{nohierarchy custcol_item_displayname}}</p></td>
               <td>
                  <p style="text-align: left; word-wrap: break-word">{{description}}</p>
               </td>
               {{/if}}
               <td align="right">{{quantity}}</td>
               <td align="right">{{rate}}</td>
               {{#if @root.haslinediscount}}
               <td align="right">
               	<table padding= "0px">
               		{{#discountdetail}}
               		<tr padding= "0px">
               			<td padding= "1px" align="right">{{{desctription}}}</td>
               		</tr>
               		<tr padding= "0px">
               			<td padding= "1px" align="right">{{#replace "-" ""}}{{amount}}{{/replace}}</td>
               		</tr>
               		{{/discountdetail}}
               	</table>
               </td>  
               {{else}}
               {{/if}}
               <td align="right">{{amount}}</td>
            </tr>
            {{else}}
            {{/if}}
            {{/item}}
         </tbody>
      </table>
      <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in;">
         <tr width="100%">
            <td width="45%"></td>
            <td width="55%">
               <!---Sub Total-->
               <table width="100%" style="padding-bottom: -10px;">
                  <tr>
                     <td class="summarybox" >Sub-total </td>
                     <td class="summarybox" align="right">{{currencysymbol}} {{subtotal}}</td>
                  </tr>
                  {{#if hassrdiscount}}
                  <tr>
                     <td class="summarybox" >Discount</td>
                     <td class="summarybox" align="right">{{currencysymbol}}  {{#replace "-" ""}} {{currency srdiscount}} {{/replace}}</td>
                  </tr>
                  {{else}}
                  {{/if}}
                  {{#if hastax}}
                  <tr>
                     <td class="summarybox" >{{taxcode}} </td>
                     <td class="summarybox" align="right">{{currencysymbol}} {{taxtotal}}</td>
                  </tr>
                  {{else}}
                  {{/if}}
               </table>
               <hr/>
               <table width="100%" style="padding-top: -10px;">
                  <tr>
                     <td class="summaryboldbox" >Total  </td>
                     <td class="summaryboldbox" align="right">{{currencysymbol}} {{total}}</td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
      <!--Selection Item-->
   </body>
</pdf>
<pdf>
    <head>
<link name="NotoSans" type="font" subtype="truetype" src="${font_notosans_regular?html}" src-bold="${font_notosans_bold?html}" src-italic="${nsfont.NotoSans_Italic}" src-bolditalic="${nsfont.NotoSans_BoldItalic}" bytes="2" />
    <macrolist>
        <macro id="nlheader">
            <!--HEADER-->
            <table style="width:100%; background-color: #221F1F;">
                <tr width="100%">
                    <td  width="50%" style="padding-left: 0.4in; padding-top: 10px; padding-bottom: 10px;"><img src="https://3688201.app.netsuite.com/core/media/media.nl?id=63646&amp;c=3688201&amp;h=cc450deee8b4151f2fd5&amp;fcts=20200601062629&amp;whence=" width="80px" height="57px"/></td>
                    <td  width="50%" style="padding-right: 0.4in; padding-top: 10px; padding-bottom: 10px; " >
                        <table style="color: white; width: 100%; ">
                            <tr>
                                <td align="right" style="font-size : 24px; font-weight:500;" >
                                    Statement of Work
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <!--END HEADER-->
        </macro>
        <macro id="nlfooter">
            <!--FOOTER-->
            <hr style="margin-left: 0.4in; margin-right: 0.4in; "/>
            <table style="width:100%; margin-left: 0.4in; margin-right: 0.4in; color: #AAAAAA;">
                <tr width="100%" >
                    <td width="55%" style="vertical-align: bottom; color: #AAAAAA">
                        <table width="100%">
                            <tr style="padding-top: 10px;">
                                <td  width="30" style="text-align: left">
                                    Your ServiceRocket Contact <br/>
                                    {{salesrep}}<br/>
                                    Enterprise Licensing Team <br/>
                                    sales@servicerocket.com
                                </td>
                                <td width="35" style="text-align: left; color: #AAAAAA;">
                                    <strong> {{subsidiary}}</strong> <br/>
                                    {{{custrecord_sr_address}}}
                                </td>
                                <td width="35"  align="right">
                                    www.servicerocket.com <br/>
                                    #WeGotYourBack
                                </td>
                            </tr>
                        </table>
                    </td>

                </tr>
            </table>
            <!--FOOTER-->
        </macro>
    </macrolist>
    <style type="text/css">         
    * 
         {
         font-family: NotoSans, Arial,sans-serif;
         }

    body {
        font-family: 'Arial';
    }

    table {
        font-size: 9pt;
        table-layout: fixed;
        padding: 3px;
    }

    table.footer td {
        padding: 0px;
        font-size: 8pt;
    }
    table.body td {
        padding-top: 2px;
    }
    table.total {
        page-break-inside: avoid;
    }
    tr.totalrow {
        background-color: #e3e3e3;
        line-height: 200%;
    }
    td.totalboxtop {
        font-size: 12pt;
        background-color: #e3e3e3;
    }
    td.addressheader {
        font-size: 8pt;
        padding-top: 6px;
        padding-bottom: 2px;
    }
    td.address {
        padding-top: 0px;
    }
    td.totalboxmid {
        font-size: 28pt;
        padding-top: 20px;
        background-color: #e3e3e3;
    }
    td.totalboxbot {
        background-color: #e3e3e3;
        font-weight: bold;
    }

    td.summarybox {
        font-size: 14pt;
        text-indent: 2px;
    }

    td.label {
        font-weight: bold;
        font-size: 12pt;
        text-indent: 2px;
    }

    td.summaryboldbox {
        font-weight: bold;
        font-size: 12pt;
        text-indent: 2px;
    }

    td.paymentbox {
        font-size:10pt;
        text-indent: 2px;
    }

    td.paymentboldbox {
        font-weight: bold;
        font-size: 10pt;
        text-indent: 2px;
    }

    span.title {
        font-size: 28pt;
    }
    span.number {
        font-size: 16pt;
    }
    span.itemname {
        font-weight: bold;
        line-height: 150%;
    }
    hr {
        width: 100%;
        color: #d3d3d3;
        background-color: #d3d3d3;
        height: 1px;
    }
    </style>
    </head>
    <body header="nlheader" header-height="7%"  footer="nlfooter" footer-height="10%" padding="0in 0in 0.5in 0.0in" size="A4">

    <!--Order-->

    <table style="margin-left: 0.5in; margin-right: 0.5px; font-weight: bold; font-size: 14pt; padding-top: 0.5in;">
        <tr><td> Billing Details</td></tr>
        <tr width="100%" style="font-size: 11pt; font-weight: normal">
            <td>
                <table width="100%" style="font-size: 11pt; font-weight: normal; line-height: 200%">
                    <tr>
                        <td width="20%">Billing Schedule </td>
                        <td width="27%" style="color: #AAAAAA"><p style="text-align: left; word-wrap: break-word">{{billingschedule}}</p></td>
                        <td width="23%" style="text-align: left;">Invoice Contact</td>
                        <td  width="30%" style="color: #AAAAAA">______________________</td>
                    </tr>
                    <tr>
                        <td width="20%">Billing Notes </td>
                        <td  width="27%" style="color: #AAAAAA"><p style="text-align: left; word-wrap: break-word">{{terms}}</p></td>
                        <td width="23%" rowspan="2" style="text-align: left;">Effective Start Date of Support Services</td>
                        <td  width="30%" style="color: #AAAAAA"> ______________________</td>
                    </tr>
                    <tr >
                        <td width="20%"> </td>
                        <td  width="27%" style="color: #AAAAAA"> ______________________</td>
                        <td width="23%"></td>
                        <td  width="30%" style="color: #AAAAAA"> </td>
                    </tr>
                    <tr>
                        <td width="20%"> </td>
                        <td  width="27%" style="color: #AAAAAA"> ______________________</td>
                        <td width="23%" rowspan="2" style="text-align: left;">Purchase order number <br/>
                            for this engagement is <br/>
                            (if required)
                        </td>
                        <td  width="30%" style="color: #AAAAAA">______________________</td>
                    </tr>
                    <tr >
                        <td width="20%"> </td>
                        <td  width="27%" style="color: #AAAAAA"> ______________________</td>
                        <td width="23%"></td>
                        <td  width="30%" style="color: #AAAAAA"> </td>
                    </tr>
                </table>
            </td>

        </tr>
    </table>

    <table style="width: 100%; margin-left: 0.4in; margin-right: 0.4in;  background-color: #F5F5F5;">
        <tr  width="100%" >
            <td  width="50%">
                <table style="font-size: 11pt; width: 100%">
                    <tr>
                        <td colspan="2" style="font-weight: bold"> {{name}}</td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="50%" style="line-height: 200%">Signature</td>
                        <td width="50%" style="background-color: white; " align="left" ></td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="50%" style="line-height: 200%" ><p>Name of Authorized <br/> Signatory</p></td>
                        <td width="50%" style="background-color: white; ine-height: 200%" align="left"></td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="50%" style="line-height: 200%">Title</td>
                        <td width="50%" style="background-color: white; ine-height: 200%" align="left"></td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="60%" style="line-height: 200%">Date</td>
                        <td width="40%" style="background-color: white; ine-height: 200%" align="left"></td>
                    </tr>
                </table>
            </td>
            <td width="50%">
                <table style="font-size: 11pt; width: 100%">
                    <tr>
                        <td colspan="2" style="font-weight: bold">{{entity}}</td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="50%" style="line-height: 200%">Signature</td>
                        <td width="50%" style="background-color: white;" align="left"></td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="50%" style="line-height: 200%" ><p>Name of Authorized <br/> Signatory</p></td>
                        <td width="50%" style="background-color: white; ine-height: 200%" align="left"></td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="50%" style="line-height: 200%">Title</td>
                        <td width="50%" style="background-color: white; ine-height: 200%" align="left"></td>
                    </tr>
                    <tr style="padding-bottom: 3px;">
                        <td width="60%" style="line-height: 200%">Date</td>
                        <td width="40%" style="background-color: white; ine-height: 200%" align="left"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <table width="100%" style="width: 100%; margin-left: 0.4in; margin-right: 0.4in; padding-top: 10px;">
        <tr>
            <td class="summaryboldbox" >{{subsidiary}} </td>
        </tr>
        <tr>
            <td class="paymentbox" style="color: #221F1F">
                {{{custrecord_sr_address}}}
            </td>
        </tr>
    </table>



    </body>
</pdf>
</pdfset>